<div class="vertical-menu position-sticky">
    <ul>
        <li>
            <a href='@Url.Action("MyAccount", "Employer")'>My account</a>
        </li>
        <li>
            <a href='@Url.Action("AboutCompany", "Employer")'>About company</a>
        </li>
        <li>
            <a href='@Url.Action("ContactData", "Employer")'>Contact data</a>
        </li>
        <li>
            <a href='@Url.Action("JobPosts", "Employer")' '>Job posts</a>
        </li>
        <li>
            <a href='@Url.Action("PostJob", "Jobs")'>Post a job</a>
        </li>
        <li>
            <a href='#'>Job applications</a>
        </li>
        <li>
            <a href='#'>Logout</a>
        </li>
    </ul>
</div>