@{
    ViewData["Title"] = "Job Details";
}
@model JobViewModel
<br />
<br />
<section>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="d-flex align-items-center mb-5">
                    <img class="flex-shrink-0 img-fluid border rounded" src="@(Model.Company.LogoUrl)" style="width: 80px; height: 80px;">
                    <div class="text-start ps-4">
                        <h3 class="mb-3">@Model.JobPost.Title</h3>
                        <span class="text-truncate me-3"><i class="fa fa-map-marker custom-primary-color me-2"></i>@Model.JobPost.Location</span>
                        <span class="text-truncate me-3"><i class="fa fa-clock-o custom-primary-color me-2"></i>@Model.JobPost.JobType</span>
                        <span class="text-truncate me-0"><i class="fa fa-money custom-primary-color me-2"></i>$@Model.JobPost.JobSalary</span>
                    </div>
                </div>

                <div class="mb-5">
                    <h4 class="mb-3">Job description</h4>
                    <div>
                        @Html.Raw(@Model.JobPost.JobDescription);
                    </div>
                    <div class="mt-4">
                        <h4 class="mb-4">Apply For The Job</h4>
                        <form>
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control" placeholder="Your Name">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control" placeholder="Your Email">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control" placeholder="Portfolio Website">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="file" class="form-control bg-white">
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control" rows="5" placeholder="Coverletter"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Apply Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="bg-light rounded p-5 mb-4">
                    <h4 class="mb-4">Job Summery</h4>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Published On: @Model.JobPost.PublishDate</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: Open</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Experience: @Model.ParseExperience()</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature: @Model.JobPost.JobType</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Salary: @Model.JobPost.JobSalary</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Location: @Model.JobPost.Location</p>
                </div>
                <div class="bg-light rounded p-5">
                    <h4 class="mb-4">Company Details</h4>
                    <p class="m-0">@Model.Company.Name</p>
                    <p class="m-0">@Model.Company.Description</p>
                </div>
            </div>
        </div>
    </div>
</section>